In [1]:
#import packages
import os
import pandas as pd
import numpy as np

df = pd.read_excel('bank.xlsx') #Read excel file

In [2]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [4]:
df['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [5]:
df['target'] = df['y'].apply(lambda x : 1 if x == 'yes' else 0)  # Convert to numeric
df = df.drop('y',axis=1)

# WOE and IV

In [6]:
# import packages
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

max_bin = 20
force_bin = 3

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    # mono_bin 为处理 连续变量 的分箱方法
    # 制造单一变量的数据集，并分为有缺失、无缺失的两类
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    # 初始化相关系数为0
    r = 0 
    while np.abs(r) < 1:
        # 从最大的分箱数max_bin开始，看相关系数能否到1，变为线性相关
        # 若能变为线性相关则终止，不能线性相关则继续减小分箱数，进行运算
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1
        
        #若最终无法满足线性相关，则采用强制分箱，分为force_bin个，
    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    # 处理离散变量的分箱情况
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    '''
    逐个变量处理，将连续变量、离散变量分别进行处理。
    return：1. 为含有woe的细节值，
            2. 为每个变量的IV值
    '''
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [7]:
final_iv, IV = data_vars(df,df.target)

In [8]:
final_iv

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
0,age,19,39,2290,259,0.113100,2031,0.886900,0.497121,0.50775,-0.021156,0.000452
1,age,40,87,2231,262,0.117436,1969,0.882564,0.502879,0.49225,0.021363,0.000452
2,job,admin.,admin.,478,58,0.121339,420,0.878661,0.111324,0.10500,0.058488,0.132519
3,job,blue-collar,blue-collar,946,69,0.072939,877,0.927061,0.132438,0.21925,-0.504101,0.132519
4,job,entrepreneur,entrepreneur,168,15,0.089286,153,0.910714,0.028791,0.03825,-0.284088,0.132519
5,job,housemaid,housemaid,112,14,0.125000,98,0.875000,0.026871,0.02450,0.092389,0.132519
6,job,management,management,969,131,0.135191,838,0.864809,0.251440,0.20950,0.182479,0.132519
7,job,retired,retired,230,54,0.234783,176,0.765217,0.103647,0.04400,0.856800,0.132519
8,job,self-employed,self-employed,183,20,0.109290,163,0.890710,0.038388,0.04075,-0.059718,0.132519
9,job,services,services,417,38,0.091127,379,0.908873,0.072937,0.09475,-0.261650,0.132519
10,job,student,student,84,19,0.226190,65,0.773810,0.036468,0.01625,0.808351,0.132519
11,job,technician,technician,768,83,0.108073,685,0.891927,0.159309,0.17125,-0.072279,0.132519
12,job,unemployed,unemployed,128,13,0.101562,115,0.898438,0.024952,0.02875,-0.141683,0.132519
13,job,unknown,unknown,38,7,0.184211,31,0.815789,0.013436,0.00775,0.550223,0.132519
14,marital,divorced,divorced,528,77,0.145833,451,0.854167,0.147793,0.11275,0.270638,0.040090
15,marital,married,married,2797,277,0.099035,2520,0.900965,0.531670,0.63000,-0.169697,0.040090
16,marital,single,single,1196,167,0.139632,1029,0.860368,0.320537,0.25725,0.219951,0.040090
17,education,primary,primary,678,64,0.094395,614,0.905605,0.122841,0.15350,-0.222812,0.031812
18,education,secondary,secondary,2306,245,0.106245,2061,0.893755,0.470250,0.51525,-0.091389,0.031812
19,education,tertiary,tertiary,1350,193,0.142963,1157,0.857037,0.370441,0.28925,0.247404,0.031812
20,education,unknown,unknown,187,19,0.101604,168,0.898396,0.036468,0.04200,-0.141225,0.031812
21,default,no,no,4445,512,0.115186,3933,0.884814,0.982726,0.98325,-0.000534,0.000016
22,default,yes,yes,76,9,0.118421,67,0.881579,0.017274,0.01675,0.030832,0.000016
23,balance,-3313,69,1133,94,0.082966,1039,0.917034,0.180422,0.25975,-0.364420,0.076208
24,balance,70,444,1128,106,0.093972,1022,0.906028,0.203455,0.25550,-0.227778,0.076208
25,balance,445,1480,1131,149,0.131742,982,0.868258,0.285988,0.24550,0.152655,0.076208
26,balance,1482,71188,1129,172,0.152347,957,0.847653,0.330134,0.23925,0.321991,0.076208
27,housing,no,no,1962,301,0.153415,1661,0.846585,0.577735,0.41525,0.330235,0.106556
28,housing,yes,yes,2559,220,0.085971,2339,0.914029,0.422265,0.58475,-0.325552,0.106556
29,loan,no,no,3830,478,0.124804,3352,0.875196,0.917466,0.83800,0.090598,0.060791
...,...,...,...,...,...,...,...,...,...,...,...,...
38,month,dec,dec,20,9,0.450000,11,0.550000,0.017274,0.00275,1.837629,0.379533
39,month,feb,feb,222,38,0.171171,184,0.828829,0.072937,0.04600,0.460950,0.379533
40,month,jan,jan,148,16,0.108108,132,0.891892,0.030710,0.03300,-0.071914,0.379533
41,month,jul,jul,706,61,0.086402,645,0.913598,0.117083,0.16125,-0.320077,0.379533
42,month,jun,jun,531,55,0.103578,476,0.896422,0.105566,0.11900,-0.119785,0.379533
43,month,mar,mar,49,21,0.428571,28,0.571429,0.040307,0.00700,1.750618,0.379533
44,month,may,may,1398,93,0.066524,1305,0.933476,0.178503,0.32625,-0.603059,0.379533
45,month,nov,nov,389,39,0.100257,350,0.899743,0.074856,0.08750,-0.156072,0.379533
46,month,oct,oct,80,37,0.462500,43,0.537500,0.071017,0.01075,1.888017,0.379533
47,month,sep,sep,52,17,0.326923,35,0.673077,0.032630,0.00875,1.316165,0.379533
48,duration,4,62,510,1,0.001961,509,0.998039,0.001919,0.12725,-4.194148,1.651501
49,duration,63,96,502,10,0.019920,492,0.980080,0.019194,0.12300,-1.857594,1.651501
50,duration,97,128,509,16,0.031434,493,0.968566,0.030710,0.12325,-1.389621,1.651501
51,duration,129,163,490,20,0.040816,470,0.959184,0.038388,0.11750,-1.118701,1.651501
52,duration,164,208,505,26,0.051485,479,0.948515,0.049904,0.11975,-0.875304,1.651501
53,duration,209,261,498,61,0.122490,437,0.877510,0.117083,0.10925,0.069240,1.651501
54,duration,262,354,505,73,0.144554,432,0.855446,0.140115,0.10800,0.260333,1.651501
55,duration,355,546,500,101,0.202000,399,0.798000,0.193858,0.09975,0.664459,1.651501
56,duration,547,3025,502,213,0.424303,289,0.575697,0.408829,0.07225,1.733165,1.651501
57,campaign,1,2,2998,378,0.126084,2620,0.873916,0.725528,0.65500,0.102264,0.023342
58,campaign,3,50,1523,143,0.093894,1380,0.906106,0.274472,0.34500,-0.228695,0.023342
59,pdays,-1,-1,3705,337,0.090958,3368,0.909042,0.646833,0.84200,-0.263692,0.203267
60,pdays,1,1,2,2,1.000000,0,0.000000,0.003839,0.00000,0.000000,0.203267
61,pdays,2,871,814,182,0.223587,632,0.776413,0.349328,0.15800,0.793417,0.203267
62,previous,0,1,3991,388,0.097219,3603,0.902781,0.744722,0.90075,-0.190217,0.177081
63,previous,2,25,530,133,0.250943,397,0.749057,0.255278,0.09925,0.944712,0.177081
64,poutcome,failure,failure,490,63,0.128571,427,0.871429,0.120921,0.10675,0.124650,0.461890
65,poutcome,other,other,197,38,0.192893,159,0.807107,0.072937,0.03975,0.606982,0.461890
66,poutcome,success,success,129,83,0.643411,46,0.356589,0.159309,0.01150,2.628499,0.461890
67,poutcome,unknown,unknown,3705,337,0.090958,3368,0.909042,0.646833,0.84200,-0.263692,0.461890

In [9]:
IV.sort_values('IV')

     VAR_NAME        IV
5     default  0.000016
0         age  0.000452
4         day  0.004581
2    campaign  0.023342
7   education  0.031812
11    marital  0.040090
10       loan  0.060791
1     balance  0.076208
8     housing  0.106556
9         job  0.132519
15   previous  0.177081
13      pdays  0.203267
3     contact  0.247762
12      month  0.379533
14   poutcome  0.461890
6    duration  1.651501

In [10]:
IV.to_csv('test.csv')

# Apply WOE values to your dataframe columns

The below code snippet can be used to apply the WOE values to your dataframe columns.

In [11]:
transform_vars_list = df.columns.difference(['target'])
transform_prefix = 'new_' # leave this value blank if you need replace the original column values

In [12]:
transform_vars_list

Index(['age', 'balance', 'campaign', 'contact', 'day', 'default', 'duration',
       'education', 'housing', 'job', 'loan', 'marital', 'month', 'pdays',
       'poutcome', 'previous'],
      dtype='object')

In [13]:
for var in transform_vars_list:
    # 提取所需要变量的那个dataframe
    small_df = final_iv[final_iv['VAR_NAME'] == var]
    # zip 成一堆的格式
    transform_dict = dict(zip(small_df.MAX_VALUE,small_df.WOE))
    replace_cmd = ''
    replace_cmd1 = ''
    for i in sorted(transform_dict.items()):
        # 处理连续的变量方法，为str格式的命令，只是命名，未运行
        replace_cmd = replace_cmd + str(i[1]) + str(' if x <= ') + str(i[0]) + ' else '
        # 处理离散的变量的方法，为str格式的命令，只是命名，未运行
        replace_cmd1 = replace_cmd1 + str(i[1]) + str(' if x == "') + str(i[0]) + '" else '
    replace_cmd = replace_cmd + '0'
    replace_cmd1 = replace_cmd1 + '0'
    if replace_cmd != '0':
        # 运行上面的命令
        try:
            df[transform_prefix + var] = df[var].apply(lambda x: eval(replace_cmd))
        except:
            df[transform_prefix + var] = df[var].apply(lambda x: eval(replace_cmd1))

In [14]:
df['contact'].value_counts()

cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64

In [15]:
df['new_contact'].value_counts()

 0.252971    2896
-0.992072    1324
 0.273413     301
Name: new_contact, dtype: int64

In [16]:
small_df = final_iv[final_iv['VAR_NAME'] == 'contact']

In [17]:
small_df

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
31,contact,cellular,cellular,2896,416,0.143646,2480,0.856354,0.798464,0.62000,0.252971,0.247762
32,contact,telephone,telephone,301,44,0.146179,257,0.853821,0.084453,0.06425,0.273413,0.247762
33,contact,unknown,unknown,1324,61,0.046073,1263,0.953927,0.117083,0.31575,-0.992072,0.247762